*, *:before, *:after {
  box-sizing: border-box;
}
@font-face {
    font-family: 'Apercu-Mono';
    src: url('fonts/Apercu-Mono.woff2') format('woff2'),
         url('fonts/Apercu-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 40px;
  font-family: 'Apercu-Mono';
    text-transform: normal;
    line-height: 33px;
    background-color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 100%;
    width: 100%;
}



h1, p {
  margin: 0 0 1em 0;
}

/* no grid support? */
.sidebar {
  float: left;
  max-width: 24%;


}

.content {
  float: right;
  width: 77%;

}

/* make a grid */
.wrapper {
  max-width: flex, auto;
  margin: fit, auto;
  padding: 40px;

}

.wrapper > * {
  background-color: #ffffff;
  color: #31393E;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}



.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* unvisited link */
a:link {
  color: #31393E;
  text-decoration: none;
}

/* visited link */
a:visited {
    color: #31393E;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a.active {
    color: #31393E;
  text-decoration: none;
  }

#vid {
    width: 800px;
    height: flex;
}

.clearfix {
  overflow: auto;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.columnv img {
  margin-top: 8px;
  vertical-align: middle;
  width: 800px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 90%;
    max-width: 90%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}
.header, .footer {
  grid-column: 1 / -1;
  font-family: 'Apercu-Mono', 'Press Start 2P';
  /* needed for the floated layout */
  clear: both;
}


/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    margin: flex;
  }
}

.wrapper:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
