*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'silkscreennormal';
    src: url('fonts/slkscr-webfont.woff2') format('woff2'),
         url('fonts/slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'silkscreenbold';
    src: url('fonts/slkscrb-webfont.woff2') format('woff2'),
         url('fonts/slkscrb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 40px;
  font-family: 'silkscreennormal', 'Press Start 2P', cursive;
  Font-weight:normal;
  font-style:normal;
  background-color: #fff;
  color: #31393E;
  -webkit-font-smoothing : none;
   font-size: 12px;
   letter-spacing: 0.1em;
    line-height: 1.5rem;
}



h1, p {
  margin: 0 0 1em 0;
}

/* no grid support? */
.sidebar {
  float: left;
  max-width: 24%;


}

.content {
  float: right;
  width: 77%;

}

/* make a grid */
.wrapper {
  max-width: auto;
  margin: 0 auto;

}

.wrapper > * {
  background-color: #ffffff;
  color: #31393E;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

    .box {
        background-color: #444;
        color: #31393E;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

    }

    .box .box {
        background-color: #ccc;
        color: #444;
    }

    .a {
        grid-column: col / span 2;
        grid-row: row;
    }

    .b {
        grid-column: col 3 / span 2;
        grid-row: row;
    }

    .c {
        grid-column: col / span 2;
        grid-row: row 2;
    }

    .d{
        grid-column: col 3 / span 2;
        grid-row: row 2;
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .e {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .f {
        grid-column: 1;
        grid-row: 2;
    }

    .g {
        grid-column: 2;
        grid-row: 2;
    }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* unvisited link */
a:link {
  color: #31393E;
  text-decoration: none;
}

/* visited link */
a:visited {
    color: #31393E;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a.active {
    color: #31393E;
  text-decoration: none;
  }

#vid {
    width: flex;
    height: 400px;
}

.clearfix {
  overflow: auto;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 90%;
    max-width: 90%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}
.header, .footer {
  grid-column: 1 / -1;
  font-family: 'silkscreenbold', 'Press Start 2P', cursive;
  /* needed for the floated layout */
  clear: both;
}


/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}

.wrapper:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
